.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header{

  text-align: center;
  font-style: italic;
  color: rgb(5, 5, 5);
  padding: 8px;
  background-color: rgb(241, 19, 37);
}



/* .Header01{
  margin:auto;
  
  padding-left: 10%;
  padding-top: 10px;
  height: 60px;
  
  word-spacing: normal;
  background-color: rgb(241, 19, 19);
  font-size: larger;
  border-spacing: 10px;
  
  
} */
/* Header01 Component CSS */

.Header01 {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}

.Header01 header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

/* Styling for login link */
.Header01 header a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.Header01 header a:hover {
  background-color: #333;
  color: #fff;
}

/* Adjust other styles as per your design */


input{
  background-color: rgb(251, 252, 252);
  font-style: italic;
  padding-left: 4px;
  border: 0cap;
  border-radius: 10px;
  margin: 10px;
}
label{
  background-color: aliceblue;
}

.footer{
 background-color: rgb(73, 75, 75);
 height: 300px;

 /* display: flex; */
 

}
.footer a{
   padding: 10px; 
     display:flex;
     color: aliceblue;  
     text-decoration: none;
  
}
.footer .fa{
   float: right; 
     /* display: flex;  */

     color: aliceblue; 
     font-size: medium; 
  
}
.footer .f1{
  float: left;
}
.footer .f2{
  float: left;
}
.footer .f3{
  float: left;
}
.footer .f4{
  float: left;
}
.footer .f5{
  float: left;
}
.footer .f6{
  float: left;
}


.location{
  background-color: rgb(180, 173, 173); 
}

.about{
  
  float: left;
  width: 40%;
  text-shadow: #61dafb;
  white-space: 10px;
  padding-left: 20px;
  line-height: 20px;
}
.about h6{
  line-height: 29px;
}
.about.img{
  display: flex;
  float: right;
  margin: 400px;
  width: 40%;
  height: 24%;
  padding-left: 200px;
}
.contact{
  height: 400px;
  display: block;
  padding-left: 10px;
}
.cont1{
  float: left;margin-top: 10px;

}
.cont2{
  float: left;
  margin-left: 300px;
}
.cont3{
  float: left;
margin-left: 200px;
}

